*{
    color: white;
}
body{
    background-image: url(mau-background-dep.jpg);
}
img{
    border-radius: 50%;
    width: 230px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
div{
    text-align: center;
    justify-content: center;
}
p{
    font-size: 30px;
}
button{
    width: 450px;
    background-color: Transparent;
    background-repeat:no-repeat;  
    height: 70px;
    border-color: white;
    font-size: 25px;
}